body {
  color: brown;
  font-family: "helvetica bold", helvetica bold;
  font-size: 20px;
  padding: 1em;
  text-align: center
}

h1 {
  font-size: 4em;
  margin: 0.25em 0;
  text-align: center
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 3em;
    text-align: center
}